footer {
    background: url(../assets/images/background-footer.png);

    & .footer-box {
        padding: 10.625rem 10rem 7.125rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & .social-network {
        margin-right: auto;
        display: grid;

        & > img {
            width: 16.5rem;
            margin-inline: auto;
        }

        & .social-links {
            display: flex;
            justify-content: space-between;

            & svg {
                width: 2.5rem;
                height: 2.5rem;
                padding: .5rem;
                border-radius: 50%;
                & path {
                    fill: var(--blue-light);
                }

                transition: background-color .25s ease-in-out;
                &:hover {
                    background-color: var(--shape-stroke);
                    & path {
                        fill: var(--text-body);
                    }
                }
            }
        }
    }

    & .guide {
        display: flex;
        gap: 3.5rem;

        & h4 {
            color: var(--text-body);
            margin-bottom: 1.25rem;
        }

        & > div {
            display: grid;
        }

        & .suport-links {
            display: grid;
            gap: 0.75rem;

            & a {
                padding-block: .25rem;

                transition: color .25s ease-in-out;
                &:hover {
                    color: var(--text-body);
                }
            }
        }
    }
}

@media (width < 80em) {
    footer {
        & .footer-box {
            display: grid;
            padding: 6.125rem 2rem 2.375rem;
            gap: 2.5rem;
        }

        & .social-network {
            margin-right: none;
            margin-inline: auto;

            & > img {
                width: 9.875rem;
            }
        }
    }
}