*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff: "Raleway", sans-serif;

    /* fonts */
    --title-lg: bold 3rem var(--ff);
    --title-md: bold 2.5rem var(--ff);
    --title-sm: bold 2rem var(--ff);
    --title-xs: bold 1rem var(--ff);

    --subtitle: 500 2rem/2 var(--ff);

    --body-lg: normal 1.25rem/1.4 var(--ff);
    --body-md: normal 1rem/1.4 var(--ff);
    --body-sm: normal .875rem/1.4 var(--ff);
    --body-xs: normal .75rem/1.4 var(--ff);

    --button: bold .875rem var(--ff);
    --link: 500 .875rem var(--ff);
    --tag: bold .625rem var(--ff);

    /* color */
    --pink-light: #C59DD2;
    --pink-base: #9547A5;
    --pink-dark: #7D298A;
    --pink-low: #3F0F41;

    --blue-light: #73B6D2;
    --blue-base: #358BB9;
    --blue-mid: #2374A4;
    --blue-dark: #144A72;
    --blue-low: #08233C;

    --shape-stroke: #002347;
    --shape-hover: #001933;
    --shape-base: #000F1F;
    --shape-background: #00050A;

    --text-title: #F8FBFB;
    --text-body: #E2E7E9;
    --text-label: #BAC6C9;
}

body {
    width: 100%;
    height: 100vh;

    max-width: 90rem;
    margin-inline: auto;

    background-color: var(--shape-background);
}

h1 {
    font: var(--title-lg);
    color: var(--text-title);
}

h2 {
    font: var(--title-sm);
    color: var(--text-title);
}

h3 {
    font: var(--subtitle);
    color: var(--text-body);
}

p {
    font: var(--body-lg);
    color: var(--text-body);
}

span {
    font: var(--body-md);
    color: var(--text-title);
}

strong {
    font: var(--subtitle);
    color: var(--blue-light);
    font-weight: bold;
}

a {
    text-decoration: none;
}

.button {
    background-color: var(--pink-dark);
    height: 2.5rem;
    border-radius: .5rem;

    font: var(--button);
    color: var(--text-title);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: filter 500ms;
    &:hover {
        filter: brightness(1.2);
    }
}

.blur {
    position: absolute;
    background-color: var(--pink-low);

    aspect-ratio: 1/1;
    border-radius: 50%;

    z-index: -1;
}