.hero {
    position: relative;

    & header {
        padding-inline: 10rem;
        padding-top: 3.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        & .logo {
            width: 14.375rem;
            height: 3.625rem;
            background: url(../assets/icons/logo-horizontal.svg) no-repeat center / contain;
        }

        & .button {
            width: 5.56rem;
        }
    }

    & main {
        display: grid;
        justify-content: center;
        margin-inline: auto;

        margin-top: 10.25rem;
        width: 41rem;

        text-align: center;
        gap: 2rem;

        animation: appear 2s cubic-bezier(.88,.07,.2,1.06) backwards;

        & p {
            padding-inline: 2.75rem;
        }
    }

    & .surprise {
        width: 75rem;
        height: 25rem;

        margin-top: 35.375rem;
        margin-inline: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;

        & h3 {
            & span {
                filter: brightness(0.5);
                transition: filter 0.5s ease;
                font: inherit;

                & strong {
                    color: var(--text-body);
                    transition: color 0.5s ease;
                }
            }
        }

        transition: transform 0.5s ease-in-out;

        position: relative;
        & img {
            position: absolute;
            width: 5rem;
            height: 5rem;
            z-index: 2;

            transform: scale(0);

            &[src*="book-icon"] {
                top: 1rem;
                left: 45%;
            }

            &[src*="planchette"] {
                bottom: 0;
                left: 0;
            }

            &[src*="crystal-ball"] {
                bottom: 0;
                right: 0;
            }

            transition: transform 0.5s ease-in-out;
            &:hover {
                transform: scale(1.1) rotate(10deg) !important;
            }
        }

        &:hover {
            & span {
                filter: brightness(1);

                & strong {
                    color: var(--blue-light);
                }

                /* delay's */

                &#ping-1 {
                    transition-delay: 0s;

                    & strong#strong-ping-1 {
                        transition-delay: 0s;
                    }
                }

                &#ping-2 {
                    transition-delay: 0.5s;

                    & strong#strong-ping-2 {
                        transition-delay: 0.5s;
                    }
                }

                &#ping-3 {
                    transition-delay: 1s;

                    & strong#strong-ping-3 {
                        transition-delay: 1s;
                    }
                }
            }

            & img {
                transform: scale(1);

                &[src*="planchette"] {
                    transition-delay: .5s;
                }
    
                &[src*="crystal-ball"] {
                    transition-delay: 1s;
                }
            }
        }

    }

    & .blur {
        &#ellipse1 {
            width: 33.625rem;
            height: 33.625rem;
            filter: blur(54.25rem);

            bottom: 0;
            left: 14.5rem;
        }

        &#ellipse2 {
            width: 15rem;
            height: 15rem;
            filter: blur(29.25rem);
    
            top: 22.875rem;
            right: -5%;
        }
    
        &#ellipse3 {
            width: 23.5rem;
            height: 23.5rem;
            filter: blur(31.75rem);
    
            top: 30.875rem;
            left: -15%;
        }
    
        &#ellipse4 {
            width: 30.6rem;
            height: 30.6rem;
            filter: blur(41.75rem);
    
            bottom: 19.5rem;
            right: -15%;
        }

        animation: appear 2s backwards;
    }

}

@keyframes appear {
    from {
        opacity: 0;
    }
}

@media (width < 80rem) {
    .hero {
        & header {
            & .logo {
                width: 4.035rem;
                height: 3rem;
                background-image: url(../assets/icons/logo-symbol.svg);
            }

            padding-inline: 1.25rem;
            padding-top: 1.25rem;
        }

        & main {
            margin-top: 3rem;
            width: 20.9rem;

            gap: 1rem;

            & p {
                padding-inline: 0;
            }
        }

        .surprise {
            margin-top: 14rem;
    
            width: 22rem;
            height: 15.6875rem;
    
            & h3 {
                font: 500 1rem/1.4 var(--ff);

                & span {
                    filter: brightness(1);
                    
                    & strong {
                        font: bold 1rem/1.4 var(--ff);
                        color: var(--blue-light);
                    }
                }

            }
    
            & img {
                width: 2.5rem;
                height: 2.5rem;

                transform: scale(1);
    
                &[src*="book-icon"] {
                    top: 10;
                    left: 60%;
                }
    
                &[src*="planchette"] {
                    bottom: 15%;
                    left: 10%;
                    transform: rotate(-130deg);
                }
    
                &[src*="crystal-ball"] {
                    bottom: 10%;
                    right: 10%;
                    transform: rotate(30deg);
                }

                &:hover {
                    &[src*="planchette"] {
                        transform: scale(1) rotate(-150deg) !important;
                    }
                }
            }

            &:hover {
                & img {
                    &[src*="planchette"] {
                        transform: rotate(-130deg); 
                    }

                    &[src*="crystal-ball"] {
                        transform: rotate(30deg);
                    }
                }
            }

        }
    }

}