.kit-mensal {
    & h2, & p {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    & h2 {
        margin-block: 19.7rem .375rem;
        gap: 1rem;

        & img {
            width: 2rem;
            height: 2rem;
            transform: scale(2);
        }
    }

    & p {
        font: var(--body-md);
    }

    & .book {
        width: 54.8rem;
        height: 51rem;
        margin-inline: auto;
        margin-block: 5.5rem 17.9rem;

        position: relative;
        & * {
            position: absolute;
            top: 15%;
            left: 30%;
        }

        & img {
            &[src*="book.png"] {
                width: 29.1875rem;
                height: 38.5625rem;
                top: 12%;
                left: 22%;
                z-index: 1;
            }

            &[src*="bookmark"] {
                width: 10.75rem;
                height: 33.5rem;
                left: 50%;
            }

            &[src*="pin"] {
                width: 13.875rem;
                height: 15.875rem;
                top: 60%;
            }

            &[src*="arrow-1"] {
                width: 10.9rem;
                height: 1.875rem;
            }

            &[src*="arrow-2"] {
                width: 6.55rem;
                height: 7.9rem;
                top: 60%;
            }

            &[src*="arrow-3"] {
                width: 9rem;
                height: 9.47rem;
                top: 50%;
            }
        }

        & span {
            width: 11rem;

            &:nth-child(4) {
                top: 60%;
            }

            &:nth-child(10) {
                width: 12rem;
                top: 70%;
                left: 50%;
            }
        }

        & .blur {
            width: 58.125rem;
            height: 58.125rem;
            filter: blur(37.5rem);
            top: -10%;
            left: 0;
        }

        & img, & span {
            transition: transform 0.5s cubic-bezier(.29,1.47,.56,1.02);
        }

        &:hover {
            & img {
                &[src*="arrow-1."] {
                    transform: translate(-110%, -140%);
                }

                &[src*="arrow-2."] {
                    transform: translate(-230%, -50%);
                }

                &[src*="pin."] {
                    transform: translate(-90%, 10%) rotate(-8deg);
                }

                &[src*="bookmark-yellow"] {
                    transform: translate(90%, -20%) rotate(12deg);
                }

                &[src*="bookmark-purple"] {
                    transform: translate(150%, 5%) rotate(22deg);
                }

                &[src*="arrow-3."] {
                    transform: translate(280%, 160%);
                }
            }
            & span {
                &:nth-child(2) {
                    transform: translate(-150%, -350%);
                }

                &:nth-child(4) {
                    transform: translate(-150%, -450%);
                }

                &:nth-child(10) {
                    transform: translate(80%, 1100%);
                }
            }
        }
    }
}

@media (width < 80em) {
    .kit-mensal {
        & h2 {
            margin-block: 6.5rem .5rem;
            font-size: 1.5rem;
            gap: .75rem;

            & img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        & p {
            font-size: .875rem;
        }

        & .book {
            width: 23.4375rem;
            height: 19.9375rem;
            margin-block: 4rem 5.5rem;

            & img {
                &[src*="book.png"] {
                    width: 9.8125rem;
                    height: 12.9375rem;
                    top: 12%;
                    left: 28%;
                    z-index: 2;
                }

                &[src*="bookmark"] {
                    width: 3.625rem;
                    height: 11.25rem;
                    left: auto;
                }

                &[src*="bookmark-yellow"] {
                    transform: rotate(12deg);
                    right: 20%;
                    top: 9%;
                    z-index: 1;
                }

                &[src*="bookmark-purple"] {
                    transform: rotate(22deg);
                    right: 11%;
                    top: 18%;
                }

                &[src*="pin"] {
                    width: 4.68rem;
                    height: 5.3375rem;
                    top: 60%;
                    left: 15%;
                    transform: rotate(-8deg);
                }

                &[src*="arrow-1"] {
                    width: 3.67rem;
                    height: .625rem;
                    top: 10%;
                    left: 16%;
                }

                &[src*="arrow-2"] {
                    width: 2.2rem;
                    height: 2.67rem;
                    top: 51%;
                    left: 11%;
                }

                &[src*="arrow-3"] {
                    width: 3.1rem;
                    height: 3.1875rem;
                    top: 70%;
                    left: auto;
                    right: 15%;
                }
            }

            & span {
                width: 6.9375rem;
                font: normal .625rem var(--ff);

                &:nth-child(2) {
                    top: 4%;
                    left: 3%;
                }

                &:nth-child(4) {
                    top: 45%;
                    left: 5%;
                }

                &:nth-child(10) {
                    top: 88%;
                    left: 58%;
                }
            }

            & .blur {
                width: 18.625rem;
                height: 18.625rem;
                filter: blur(12.9rem);
                top: 1%;
                left: 5%;
            }

            pointer-events: none; /* no-hover */
        }
    }
}